.env
.vscode
.idea
.venv
venv
vm
*.pyc
*.egg-info
__pycache__
.ebextensions
.spyproject
bak
baks
myTestes
.requirements.txt.bak
USE.INFO
templates/src
dabolinux-clients-demo-32103b022bf6.json
MANIFEST
build
dist
docs/_build
docs/_static

